@font-face {
    font-family: "xkcd";
    src: url('/fonts/Humor-Sans-1.0.ttf');
}

body {
padding-left: 20px;
padding-right: 20px;
/*  font-family: "xkcd", sans-serif;
  font-size: 20px;
  color: #f83;
  margin-top: 25px;*/
}

#playerNumber{
	background-color: lightgray;
}
