<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>

	</head>
	<body>
		<!-- Check Players -->
		<div id="playerNumber">
			<p> There are currently <span id="numPlayers">no</span> players connected.</p>
		</div>
		<!-- Player info -->
		<div id= "playerInfo" hidden>
			<span id="myName"></span> [<span id="myRole"></span>] HP:<span id="hp"></span> MP:<span id="mp"></span> 
			<!-- Party Info -->
			<div id="party" hidden>
				<p><div id="partyTurn">Party Members</div></p>
				<ul id="playerList" class = "collection">

				</ul>
			</div>
		</div>


		<!-- Initial Form -->
		<form id='playerInformation' hidden>
			Choose a nickname: <input id="playerName" name="playerName"></input><br>
			Choose a class: <br>
			<div class="row">
				<div class="card col s2">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="images/Class_swordman.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Warrior<i class="material-icons right">more_vert</i></span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Warrior<i class="material-icons right">close</i></span>
				      <p>Warriors are known for having a high defense. <br>Stats: 25 HP, 10 MP, 5 STR, 3 DEX, 1 INT, 1 LUK</p>
				    </div>
				</div>
				<div class="card col s2">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="images/Class_archer.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Archer<i class="material-icons right">more_vert</i></span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Archer<i class="material-icons right">close</i></span>
				      <p>Archers do more damage than warriors but have lower defense.<br>Stats: 20 HP, 10 MP, 3 STR, 5 Dex, 1 INT, 1 LUK</p>
				    </div>
				</div>
				<div class="card col s2">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="images/Class_thief.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Thief<i class="material-icons right">more_vert</i></span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Thief<i class="material-icons right">close</i></span>
				      <p>Thieves have a higher chance to crit however they have low defense. <br>Stats: 18 HP, 10 MP, 3 STR, 3 DEX, 1 INT, 3 LUK</p>
				    </div>
				</div>
				<div class="card col s2">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="images/Class_mage.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Mage<i class="material-icons right">more_vert</i></span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Mage<i class="material-icons right">close</i></span>
				      <p>Mages are equipped with a variety of spells. <br>Stats: 15 HP, 20 MP, 1 STR, 3 DEX, 5 INT, 1 LUK</p>
				    </div>
				</div>
				<div class="card col s2">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="images/Class_acolyte.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Cleric<i class="material-icons right">more_vert</i></span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Cleric<i class="material-icons right">close</i></span>
				      <p>Clerics are the life of the party as they are equipped with healing spells. <br> Stats: 20 HP, 18 MP, 2 STR, 2 DEX, 5 INT, 1 LUK</p>
				    </div>
				</div>
		</div>
			<span class = "row">
				<p class="col s2">
					<input type="radio" value="warrior" name="radio" id="warrior"/>
					<label for="warrior">Warrior</label>
				</p>
				<p class="col s2">
					<input type="radio" value="archer" name="radio" id="archer"/>
					<label for="archer">Archer</label>
				</p>
				<p class="col s2">
					<input type="radio" value="thief" name="radio" id="thief"/>
					<label for="thief">Thief</label>
				</p>
				<p class="col s2">
					<input type="radio" value="mage" name="radio" id="mage"/>
					<label for="mage">Mage</label>
				</p>
				<p class="col s2">
					<input type="radio" value="cleric" name="radio" id="cleric"/>
					<label for="cleric">Cleric</label>
				</p>
			</span><br>
			<button type="submit" value="submit">Go!</button>
		</form>
		<br>

		<!-- BEGIN BATTLE -->
		<div id="turns">
		</div>
		<div id="gameMessage">
		</div>
		<!-- Display monster info -->
		<div id="monsterInfo" hidden>
			<p>RAWR IM A SLIME</p>
		</div>
		<!-- Actions -->
		<div id="actions" hidden>
			<div >
				<button id="attack">ATTACK </button>
			</div>
			<div id="skills">
			</div>
		</div>

		<!-- Lobby -->
		<div id="hostWait" hidden>
			<button id="startGame">Start Game </button>
		</div>

		<div id="hostPlayAgain" hidden>
			<button id="playAgain">Play Again </button>
		</div>

		<div id="playerWait" hidden>
			<p> Waiting for party leader to start the game </p>
		</div>



	</body>
</html>


