<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<p> There are currently <span id="numPlayers">no</span> players.</p>
		<span id="myName"></span><span id="myRole"></span>
		<div id="party" hidden>
			<h3>Party Members</h3>
			<div id="playerList">

			</div>
		</div>
		<p>This is main game page </p>
	</body>
</html>


